.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../images//mobile_bg.jpg") no-repeat;
  background-size: cover;
}

.background:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#gnb {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  z-index: 2;
}

#gnb .gnbList {
  display: flex;
}

#gnb .gnbList li {
  width: 33.33%;
  padding: 15px;
  margin: 20px;
  border-radius: 20px;
}

#gnb .gnbList li:nth-child(1) {
  background-color: #4baa0c;
  display: none;
}

#gnb .gnbList li:nth-child(2) {
  background-color: #fff;
}

#gnb .gnbList li:nth-child(3) {
  background-color: #d7d7d7;
}

#gnb .gnbList li:nth-child(4) {
  background-color: #413535;
}

#gnb .gnbList li a {
  display: block;
}

#gnb .gnbList li a img {
  width: 100%;
}

.appBtns {
  position: fixed;
  display: flex;
  top: 50px;
  left: 50px;
  z-index: 2;
}

.appBtns button {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #868282;
  border-radius: 20px;
  text-align: center;
}

.appBtns button:after {
  content: "skill";
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
}

.appBtns button:last-child {
  background-color: #fffafa;
  margin-left: 40px;
}

.appBtns button:last-child:after {
  content: "portfolio";
}

.appBtns button img {
  width: 70px;
}

section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

section .btnBack {
  display: flex;
  align-items: center;
  font-size: 5rem;
  font-weight: 700;
  padding-left: 10px;
}

section .btnBack span {
  font-size: 2rem;
}

section#memo {
  background-color: #FFEB99;
  opacity: 0;
  z-index: -999;
  transition: 0.25s ease-in;
}

section#memo.on {
  opacity: 1;
  z-index: 999;
}

section#memo dl {
  font-family: "Black Han Sans";
  padding: 30px;
}

section#memo dl dt {
  font-size: 2.6rem;
}

section#memo dl dt .img {
  display: block;
}

section#memo dl dt .img img {
  width: 200px;
}

section#memo dl dd {
  font-size: 2rem;
  margin: 20px 0;
  word-break: keep-all;
}

section#memo .info {
  position: absolute;
  top: 160px;
  right: 70px;
  transform: rotate(20deg);
  font-size: 2.4rem;
  font-family: "Noto Sans KR";
  color: #0e6eb8;
  line-height: 1.2;
}

section#memo .info:before {
  content: '*';
  position: absolute;
  left: -30px;
}

section#memo .info span {
  display: block;
  font-size: 1rem;
  color: #000;
}

section#skill {
  padding-top: 0;
  opacity: 0;
  z-index: -999;
  transition: 0.25s ease-in;
  text-align: center;
  overflow: hidden;
}

section#skill.on {
  opacity: 1;
  z-index: 99999;
}

section#skill .btnBack {
  position: absolute;
  color: #fff;
  z-index: 3;
}

section#skill article {
  position: relative;
  height: 50%;
}

section#skill article:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 7, 7, 0.7);
}

section#skill article.coding {
  background: url("../images/skill/code-1076533_1920.jpg") no-repeat;
  background-size: 100% 100%;
}

section#skill article.design {
  background: url("../images/skill/design-1210160_1920.jpg") no-repeat;
  background-size: 100% 100%;
}

section#skill article .contents {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 20px;
  color: #fff;
}

section#skill article .contents h3 {
  line-height: 1.4;
  font-size: 1.6rem;
  font-family: "Noto Sans KR";
  text-align: center;
}

section#skill article .contents .skillList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-end;
}

section#skill article .contents .skillList li {
  width: 50%;
  margin: 10px 0;
}

section#skill article .contents .skillList li .imgBox img {
  width: 70px;
}

section#skill article .contents .skillList li.html dl {
  color: #ff5722;
}

section#skill article .contents .skillList li.css dl {
  color: #2196f3;
}

section#skill article .contents .skillList li.js dl {
  color: #ffc107;
}

section#skill article .contents .skillList li.jqeury dl {
  color: #0868ac;
}

section#skill article .contents .skillList li.photoShop dl {
  color: #1ea1e3;
}

section#skill article .contents .skillList li.illust dl {
  color: #ffa426;
}

section#skill article .contents .skillList li.figma dl {
  color: #707785;
}

section#skill article .contents .skillList li.figma dl dd {
  font-size: 1.6rem;
}

section#skill article .contents .skillList li.figma dl dd:after {
  display: none;
}

section#skill article .contents .skillList li .info {
  font-weight: 700;
  font-family: "Black Han Sans";
}

section#skill article .contents .skillList li .info dt {
  margin: 5px 0;
  font-size: 1.8rem;
}

section#skill article .contents .skillList li .info dt br {
  display: none;
}

section#skill article .contents .skillList li .info dd {
  font-size: 2.8rem;
}

section#skill article .contents .skillList li .info dd:after {
  content: '%';
}

section#portfolio {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fffafa;
  overflow-y: scroll;
  opacity: 0;
  z-index: -9999;
  transition: 0.25s ease;
}

section#portfolio.on {
  opacity: 1;
  z-index: 9999;
}

section#portfolio ul li {
  padding: 80px 0;
  text-align: center;
}

section#portfolio ul li .contents img {
  width: 80%;
}

section#portfolio ul li .info dt {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
}

section#portfolio ul li .info dd {
  font-size: 2.8rem;
  line-height: 1.4;
}

section#portfolio ul li .info dd strong {
  font-size: 3.4rem;
  font-weight: 700;
}

section#portfolio ul li .btns {
  margin-top: 40px;
}

section#portfolio ul li .btns a {
  display: inline-block;
  padding: 20px 40px;
  border: 1px solid #000;
  font-size: 3rem;
}

section#portfolio ul li .btns a:first-child {
  margin-right: 50px;
}

@media all and (max-width: 500px) {
  #gnb {
    width: 80%;
  }
  #gnb .gnbList li {
    padding: 5px;
    border-radius: 15px;
  }
  #gnb .gnbList li:nth-child(1) {
    display: block;
  }
  #gnb .gnbList li:nth-child(2) {
    display: none;
  }
  .appBtns {
    top: 30px;
    left: 30px;
  }
  .appBtns button {
    width: 60px;
    height: 60px;
    border-radius: 15px;
  }
  .appBtns button:after {
    bottom: -30px;
    font-size: 1.8rem;
  }
  .appBtns button:last-child {
    margin-left: 25px;
  }
  .appBtns button img {
    width: 35px;
  }
  section .btnBack {
    font-size: 3rem;
  }
  section .btnBack span {
    font-size: 1.4rem;
  }
  section#memo {
    overflow-y: scroll;
  }
  section#memo dl {
    padding-top: 15px;
    padding-bottom: 0;
  }
  section#memo dl dt {
    font-size: 2rem;
  }
  section#memo dl dt .img img {
    width: 150px;
  }
  section#memo dl dd {
    font-size: 1.6rem;
  }
  section#memo dl dd:last-child {
    margin-bottom: 0;
  }
  section#memo .info {
    top: 80px;
    right: 35px;
    font-size: 1.4rem;
  }
  section#memo .info:before {
    font-size: 4rem;
  }
  section#skill .btnBack {
    top: 10px;
    left: 0px;
  }
  section#skill .btnBack span {
    font-size: 1.8rem;
  }
  section#skill article .contents h3 {
    font-size: 1.2rem;
    word-break: keep-all;
  }
  section#skill article .contents .skillList li .imgBox img {
    width: 50px;
  }
  section#skill article .contents .skillList li.figma dl dd {
    font-size: 1.4rem;
  }
  section#skill article .contents .skillList li .info dt {
    font-size: 1.4rem;
  }
  section#skill article .contents .skillList li .info dt br {
    display: block;
  }
  section#skill article .contents .skillList li .info dd {
    font-size: 2.4rem;
  }
  section#portfolio ul li {
    padding: 40px 0;
  }
  section#portfolio ul li .info dt {
    font-size: 2rem;
  }
  section#portfolio ul li .info dd {
    font-size: 1.4rem;
  }
  section#portfolio ul li .info dd strong {
    font-size: 2rem;
  }
  section#portfolio ul li .btns a {
    padding: 10px 20px;
    font-size: 2rem;
  }
  section#portfolio ul li .btns a:first-child {
    margin-right: 20px;
  }
}
