@media all and (max-width: 1100px) {
  #portfolio {
    top: 170px;
    width: 550px;
    height: 550px;
  }
  #portfolio .portfolioList {
    padding: 0 20px;
  }
  #portfolio .portfolioList li {
    display: flex;
  }
  #portfolio .portfolioList li .infoBox {
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    font-size: 1.6em;
  }
  #portfolio .portfolioList li .infoBox dl {
    text-align: center;
  }
  #portfolio .portfolioList li .infoBox .btns a {
    display: block;
    margin: 10px 0;
  }
  #portfolio .portfolioList li .infoBox .btns a:first-child {
    margin: 0;
  }
  #portfolio .portfolioList li:first-child:hover .contents img {
    animation: converseAnim_pad 4s ease both;
  }
  #portfolio .portfolioList li:nth-child(2):hover .contents img {
    animation: kyoboAnim_pad 4s ease both;
  }
  #portfolio .portfolioList li:nth-child(3):hover .contents img {
    animation: marathonAnim_pad 4s ease both;
  }
  #portfolio .portfolioList li:nth-child(4):hover .contents img {
    animation: clapAnim_pad 4s ease both;
  }
  #portfolio .portfolioList li .deviceBox img {
    width: 300px;
  }
  #portfolio .portfolioList li .deviceBox img.imac {
    display: none;
  }
  #portfolio .portfolioList li .deviceBox img.ipad {
    display: block;
  }
  #portfolio .portfolioList li .contents {
    top: 37px;
    left: 18px;
    width: 265px;
    height: 355px;
  }
  #portfolio .portfolioList li .contents img.macCon {
    display: none;
  }
  #portfolio .portfolioList li .contents img.padCon {
    display: block;
  }
}

@media all and (max-width: 990px) {
  #memoTxt article.mainTxt .txt dd img {
    width: 150px;
  }
  #memoTxt article.txtContents .txt dd {
    font-size: 1.4rem;
  }
  #memoTxt article.txtContents .txt dd:last-child {
    font-size: 1.8rem;
  }
  #memoTxt article.txtContents .txt dd .color {
    font-size: 1.8rem;
  }
  #portfolio {
    top: 175px;
  }
  #skills {
    width: 80%;
    left: 10%;
  }
  #skills article .contents .skillList li .imgBox img {
    width: 50%;
  }
  #skills article .contents .skillList li .info dt {
    font-size: 2vw;
  }
  #skills article .contents .skillList li .info dd {
    font-size: 5vw;
  }
}

@media all and (max-width: 755px) {
  .background {
    background: url("../images//sub_bg.jpg") no-repeat center;
    background-size: 100% 100%;
  }
  #memoTxt {
    width: 450px;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
  }
  #skills {
    height: 750px;
  }
  #skills article {
    height: 50%;
  }
  #skills article .contents h3 {
    font-size: 1.6rem;
    word-break: keep-all;
    padding: 0 10px 30px 10px;
  }
  #skills article .contents .skillList {
    flex-wrap: wrap;
  }
  #skills article .contents .skillList li {
    width: 50%;
  }
  #skills article .contents .skillList li .imgBox img {
    width: 60px;
  }
  #skills article .contents .skillList li .info dt {
    font-size: 4vw;
  }
  #skills article .contents .skillList li .info dd {
    font-size: 7vw;
  }
}

@media all and (max-width: 670px) {
  .background video {
    display: none;
  }
  #portfolio {
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
  }
  #portfolio .portfolioList li:first-child:hover .contents img {
    animation: converseAnim_phone 4s ease both;
  }
  #portfolio .portfolioList li:nth-child(2):hover .contents img {
    animation: kyoboAnim_phone 4s ease both;
  }
  #portfolio .portfolioList li:nth-child(3):hover .contents img {
    animation: marathonAnim_phone 4s ease both;
  }
  #portfolio .portfolioList li:nth-child(4):hover .contents img {
    animation: clapAnim_phone 4s ease both;
  }
  #portfolio .portfolioList li .contents {
    top: 16px;
    left: 10px;
    width: 180.5px;
    height: 393px;
    z-index: -1;
  }
  #portfolio .portfolioList li .contents img.padCon {
    display: none;
  }
  #portfolio .portfolioList li .contents img.phoneCon {
    display: block;
  }
  #portfolio .portfolioList li .deviceBox img {
    width: 200px;
  }
  #portfolio .portfolioList li .deviceBox img.ipad {
    display: none;
  }
  #portfolio .portfolioList li .deviceBox img.iphone {
    display: block;
  }
}
